.basic_components{
  text-align: center;
  font-size: large;
  padding: 10px 10px;
  font-weight: bold;
}

.waiting_text{
  text-align: center;
  font-size: x-large;
  padding: 10px 10px;
  font-weight: bold;
}
.error{
  color: red;
  text-align: center;
  font-size: x-large;
  padding: 10px 10px;
  font-weight: bold;
}

